.vscode/**
.vscode-test/**
.github/**
.claude/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.venv
noxfile.py
requirements.txt 
python/data
python/lsp/.venv
python/.venv
resources/visu_vtk/src/**
resources/visu_vtk/vite.config.ts
resources/visu_vtk/svelte.config.js
resources/visu_vtk/tsconfig.json
resources/visu_vtk/js/**
resources/visu_vtk/tailwind.css
resources/visu_vtk/styles.css
resources/visu_vtk/index.js