.vscode/**
.vscode-test/**
.github/**
.claude/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.prettierignore
.husky/**
.mypy_cache/**
.ruff_cache/**
**/__pycache__/**
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CITATION.cff
ROADMAP.md
pyproject.toml
tailwind.config.js
.venv
noxfile.py
requirements.txt
python/data
python/cmake/**
python/bundled/.gitkeep
python/requirements.txt
python/datamodel/test/**
python/lsp/.venv
python/.venv
webviews/viewer/src/**
webviews/viewer/vite.config.ts
webviews/viewer/svelte.config.js
webviews/viewer/tsconfig.json
webviews/viewer/tailwind.css
webviews/viewer/styles.css
webviews/viewer/index.js
