/*
 * TODO: Adapt to VS Code theme:
 * https://code.visualstudio.com/api/extension-guides/webview#theming-webview-content
 */

body {
	margin: 20px;
	font-family: "Segoe UI", sans-serif;
	color: #333;
	background-color: #f9f9f9;
}

h2, h3 {
	color: #222;
	margin-bottom: 0.3em;
}

div.field {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	clear: both;
	padding: 0.5em 0;
}

div.label {
	width: 10em;
	float: left;
	margin-top: 0.5em;
	font-weight: 600;
	color: #444;
}

div.field select,
div.field input {
	width: 15em;
	float: left;
	margin-top: 0.5em;
	padding: 0.3em;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 0.95em;
	background-color: #fff;
	transition: border 0.2s ease;
}

div.field input {
	width: 14.75em;
}

div.field select:focus,
div.field input:focus {
	border-color: #007acc;
	outline: none;
}

div.submit {
	margin-top: 2em;
	clear: both;
}

div.submit button {
	margin-right: 0.5em;
	padding: 0.5em 1em;
	font-size: 1em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #007acc;
	color: white;
	transition: background-color 0.2s ease;
}

div.submit button:hover {
	background-color: #005f99;
}

#submitCreate {
	font-weight: bold;
}
